[Unit]
Description=Cinema
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/mybots/cinemabot
ExecStart=/mybots/cinemabot/venv/bin/python3.11 /mybots/cinemabot/app.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target